---
- name: Install packages
  become: yes
  package:
    name: "{{ core_packages | default([]) }}"
    state: present

- name: Add flathub remote for flatpak
  flatpak_remote:
    name: flathub
    method: user
    state: present
    flatpakrepo_url: "{{ flathub_url }}"

- name: Setup dotfiles
  include_role:
    name: stocky37.core.dotfiles
  vars:
    dotfiles_root: "{{ core_dotfiles_root }}"
    dotfiles_repos: "{{ core_dotfiles_repos }}"
    dotfiles_copy_always: "{{ core_dotfiles_copy_always }}"

- name: Change to zsh
  become: yes
  user:
    name: "{{ username }}"
    shell: "{{ zsh_path }}"
 
