---
- name: Configure gnome keybindings
  dconf:
    key: "/{{ keybindings_key | replace('.', '/') }}/{{ binding.key }}"
    value: "{{ binding.value }}"
  loop: "{{ keybindings }}"
  loop_control:
    loop_var: binding

- name:  Install gnome extensions
  include_role:
    name: jaredhocutt.gnome_extensions
  vars:
    gnome_extension_ids: "{{  workstation_gnome_extensions }}"