---
- include_tasks:
    file: packages.yml
  vars:
    packages: "{{ workstation_packages }}"

- include_tasks: laptop.yml
  when: ansible_form_factor == "Laptop"
- include_tasks: hardware.yml
- include_tasks: gnome.yml
- include_tasks: roles.yml
