---
- name: Install packages
  become: yes
  package:
    name: "{{ packages }}"
    state: present
  tags: dnf

- name: Install flatpaks
  flatpak:
    name: "{{ workstation_flatpaks }}"
    state: present
    method: user
  tags: flatpak
